:root {
    --strong: white;
    --semi-strong: #808080;
    --soft: #a9a9a9;
    --background: #3b3b3b;
    --green: #1faa89;
     /* define a custom variable with the value of red */
}


a {
    color: var(--strong);
  }


body {
    background-color: var(--background); 
    /* rgb(50, 50, 50); */
}

.hrstyle {
    border: 1.8px solid var(--green);
    width: 98%;
}


/* add a light alternative for all classes */

.titlenamestyle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: var(--green);
    /* white-space: nowrap; */
    word-spacing:-20px;

    /* letter-spacing: 1px; */
}

.titlenamestyle.light {
    color: var(--green);
}

.subtitlenamestyle {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: var(--semi-strong);
    /* white-space: nowrap; */
    word-spacing:-5px;
    padding-left: 20px;

  /* letter-spacing: 1px; */
}

.titlemailstyle {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--green);
    hyphens: auto;
    /* adds a blank line below the content */
    display: block;
    margin: 5px 0;
}

.sectionname {
    font-family:  monospace;
    /* MONOSPACE SANS SERIF */
/* always capital letters */
    text-transform: uppercase;
    color: var(--green);
}

.headercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.leftcolumn {
    float: left;
    width: 50%;
    margin-right: 5%;
    /* adjust margin to center content */
}

.rightcolumn {
    float: right;
    width: 50%;
    margin-left: 5%; /* adjust margin to center content */ 
}


.leftcolumnheader {
    float: left;
    width: 80%;
    margin-right: 5%;
    /* adjust margin to center content */
}

.link{
    
    text-decoration: none;
    
}

.rightcolumnheader {
    float: right;
    width: 20%;
    margin-left: 0%;
    margin-right: 6%  /* adjust margin to center content */ 
}



.sectioncontent {
    font-family: 'Courier New', Courier, monospace;
    color: var(--semi-strong);
    padding-left: 20px;
    /* content keeps inside parent to fit the column */
    
}

.itemtitle {
    font-family: 'Courier New', Courier, monospace;
    color: var(--strong);
    font-weight: bolder;
    margin-left: inherit;
    padding-left: 20px;
}

.itemcontent {
    font-family: 'Courier New', Courier, monospace;
    color: var(--semi-strong);
    margin-left: inherit;
    padding-left: 20px;
    /* content keeps inside parent to fit the column */
    /* text always ends with a white comma */
}

.researchItem {
    font-family: 'Courier New', Courier, monospace;
    color: var(--strong);
    margin-left: inherit;
    padding-left: 20px;

    /* ALSO SHOWS A BULLET AT THE BEGINNING */
    
    /* content keeps inside parent to fit the column */
    /* text always ends with a white comma */
}

.skill-type {
    font-family: 'Courier New', Courier, monospace;
    color: var(--strong);
    font-weight: bolder;
    margin-left: inherit;
    padding-left: 10px;
}

.skill-level {
    font-family: 'Courier New', Courier, monospace;
    color: var(--strong);
    margin-left: inherit;
    padding-left: 30px;
    /* content keeps inside parent to fit the column */
    /* text always ends with a white comma */
}

.skills-list {
    font-family: 'Courier New', Courier, monospace;
    color: var(--semi-strong);
    margin-left: inherit;
    padding-left: 40px;
    /* content keeps inside parent to fit the column */
    /* text always ends with a white comma */
}

.olum-cursor::after {
  background: var(--strong);
}


@media screen and (max-width: 600px) {
    body {
      font-size: 12px;
    }
    .container {
      flex-direction: column;
      align-items: center;
      padding: -30px 0;
    }
    .headercontainer {
      flex-direction: column;
      align-items: center;
      padding: 0px 0;
    }
    .leftcolumnheader {
      text-align: center;
    }
    .rightcolumnheader {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
    }
    .titlemailstyle {
      display: block;
      margin: 0px 0;
      font-size: 11px;
    }
    .sectionname {
      font-size: 15px;
    }
    .leftcolumn,
    .rightcolumn {
        padding-left: 45px;
        padding-right: 30px;
        display:  block;
        float: none;
        width: 100%;
        margin: 0;
    }
    #employmentItems,
    #skillsItems,
    #educationItems,
    #researchItems {
      margin: 0;
      padding: 0;
    }
  }

.light-theme {
    background-color: #fff;
    color: #000;
    /* define your other styles for the light theme here */
}


 















/* hide the checkbox */
.theme-toggle {
    display: none;
  }
  
  /* style the label as the toggle button */
  .theme-toggle-label {
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 13px;
    border-radius: 20px;
    background-color: gray;
    position: relative;
  }
  
  /* style the toggle icon */
  .theme-toggle-icon {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    transition: transform 0.3s ease;
  }
  
  /* change the background color of the label and position of the icon when checked */
  .theme-toggle:checked + .theme-toggle-label {
    background-color: rgb(70, 70, 70);
  }
  
  .theme-toggle:checked + .theme-toggle-label .theme-toggle-icon {
    transform: translateX(7px);
  }